
<%= form_with(model: meeting, local: true) do |form| %>
  <% if meeting.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(meeting.errors.count, "error") %> prohibited this meeting from being saved:</h2>

      <ul>
        <% meeting.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= form.label :name %>
    <%= form.text_field :name, class: "form-control", placeholder: "Book Title" %>
  </div>

  <div class="field form-group">
    <%= form.label :start_time %>
    <%= form.datetime_select :start_time, class: "form-control" %>
  </div>

  <div class="field form-group">
    <%= form.label :end_time %>
    <%= form.datetime_select :end_time, class: "form-control" %>
  </div>
  
  <div class="field form-group">
    <%= form.label :start_page %>
    <%= form.text_field :start_page, class: "form-control", placeholder: "読み始めのページ" %>
  </div>
  
  <div class="field form-group">
    <%= form.label :end_page %>
    <%= form.text_field :end_page, class: "form-control", placeholder: "読み終わりのページ" %>
  </div>

  <div class="field form-group">
    <%= form.label :content %>
    <%= form.text_area :content, class: "form-control", placeholder: "今日の読書のまとめ", rows: "3" %>
  </div>

  <% if current_page?(new_meeting_path) %>
    <div class="form-group row justify-content-center">
      <%= button_tag :type => "submit", :class =>"btn btn-success" do %>
        <i class="fas fa-plus"></i> 読書記録を登録する
      <% end %>
    </div>
  <% else %>
    <div class="form-group row justify-content-center">
      <%= button_tag :type => "submit", :class =>"btn btn-primary" do %>
        <i class="fas fa-edit"></i> 読書記録を変更する
      <% end %>
    </div>
  <% end %>
  
<% end %>
